.profile__edit-avatar {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background: transparent url("../../../images/edit-avatar-icon.svg") no-repeat
    center/cover;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 2;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.profile__image:hover .profile__edit-avatar {
  display: flex;
}